@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
	background: #6441A4;
	color: white;
	font-family: 'Fira Sans', sans-serif;
}

h1 {
	margin-bottom: 50px;
	font-size: 50px;
	text-transform: ;
}

.selected {
	color: rgba(255, 255, 255, 1);
}

.main {
	background: lightgrey;
	width: 50%;
	margin: auto;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
}

ul {
	padding: 0;
}

li {
	color: black;
	padding: 20px;
	list-style-type: none;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 15px auto;
	background-color: white;
	border-radius: 5px;
	text-align: left;

}

a,
a:hover {
	text-decoration: none;
	color: black;
}


img {
	height: 70px;
	border-radius: 100%;
	margin-left: 15px;
}

.name {
	font-size: 20px;
	margin-left: 30px;
	font-weight: bold;
}

.status {
	font-size: 15px;
	margin-left: 75px;
	text-align: right;
}

span {
	display: inline-block;
}







